Azul Zulu Ubuntu
================

These Docker images of Azul Zulu Build of OpenJDK are based on Ubuntu.

Azul Zulu Builds of OpenJDK are available for free unlimited use and are commercially supported by [Azul][1] as a part of the Azul Platform Core bundle.
Check out [Azul Platform Core][2] for more information. The technical documentation can be found on [docs.azul.com/core][3].

Docker images of Azul Zulu are available in the following repositories, depending on the base system:

  * [Ubuntu: azul/zulu-openjdk][4]
  * [Alpine: azul/zulu-openjdk-alpine][5]
  * [CentOS: azul/zulu-openjdk-centos][6]
  * [Debian: azul/zulu-openjdk-debian][7]
  * [Distroless: azul/zulu-openjdk-distroless][8]

Tags and `Dockerfile` links
===========================

Most Recent
-----------

{% set ns = namespace(not_latest=False) %}
{%- for version in versions  -%}
  {% if ( 'jre' not in version and 'crac' not in version ) -%}
    {%- set keys = links[version].keys() | list -%}
    {%- set values = links[version].values() | list -%}
    {%- set url_split = (values)[0][1].split('/') -%}
    {% if not ns.not_latest -%}
      {% set ns.not_latest = True %}
  * [`{{ (values)[-1][0] }}`, `{{ (values)[0][0] }}` (*{{ url_split[-2] }}/{{ url_split[-1] }})*][{{ (keys)[0] }}]
    {%- elif (version[:1] == '8' or version[:2] in ['11', '17', '21']) or ( version[:2]|int > 21 and (version[:2]|int -21) % 4 == 0) and ns.not_latest %}
  * [`{{ (values)[-1][0] }}`, `{{ (values)[0][0] }}` (*{{ url_split[-2] }}/{{ url_split[-1] }})*][{{ (keys)[0] }}]
    {%- endif %}
  {%- endif %}
{%- endfor %}

Previous
--------

Earlier Ubuntu Docker image tags(the most recent 4 tags) of Azul Zulu for previous update releases of OpenJDK are as follows:

{% for version in versions -%}
  {% set items = links[version].items() %}
  * {%- for item in items -%}
    {%- if loop.index <= 4 -%}
    [{{ item[1][0] }}][{{ item[0] }}],
    {%- endif %}
  {% endfor %}
{%- endfor -%}

License
=======

Azul Zulu incorporates third-party licensed software packages. Some of these have distribution restrictions, and some have only reporting requirements. Please see [docs.azul.com/core/tpl][9] for the links to the documents with licenses for third-party software included in the latest version of Azul Platform Core.

As with all Docker images, these likely also contain other software which may be under other licenses (such as Bash, etc., from the base distribution, along with any direct or indirect dependencies of the primary software being contained).

As for any pre-built image usage, it is the image user's responsibility to ensure that any use of this image complies with any relevant licenses for all software contained within.

[BSD 3-Clause Clear License][10]

  [1]: https://www.azul.com/
  [2]: https://www.azul.com/products/core/
  [3]: https://docs.azul.com/core/
  [4]: https://hub.docker.com/r/azul/zulu-openjdk
  [5]: https://hub.docker.com/r/azul/zulu-openjdk-alpine
  [6]: https://hub.docker.com/r/azul/zulu-openjdk-centos
  [7]: https://hub.docker.com/r/azul/zulu-openjdk-debian
  [8]: https://hub.docker.com/r/azul/zulu-openjdk-distroless
  [9]: https://docs.azul.com/core/tpl
  [10]: https://github.com/zulu-openjdk/zulu-openjdk/blob/master/LICENSE.txt

{% for major_ver, body in links.items() %}
  {% for (num, ver) in body.items() -%}
    {%- if loop.index <= 4 -%}
      [{{ num }}]: {{ ver[1] }}
    {%- endif %}
  {% endfor -%}
{% endfor %}
